<div class="jumbotron center">
    <h1>Welcome to MyRecipes app</h1>
    <h2>join with us and find best recipes</h2>
    <%= link_to "Sign Up",signup_path,class: "btn btn-danger btn-lg" %>
</div>
<div class="row">
        <div class="col-md-4">
          <h2>Laura Esquivel</h2>
          <p>Cooking is one of the strongest ceremonies for life. When recipes are put together, the kitchen is a chemical laboratory involving air, fire, water and the earth. This is what gives value to humans and elevates their spiritual qualities. If you take a frozen box and stick it in the microwave, you become connected to the factory.</p>
          <p><a class="btn btn-secondary " href="https://www.brainyquote.com/quotes/laura_esquivel_797420?src=t_recipes" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Paulo Coelho</h2>
          <p>The two worst strategic mistakes to make are acting prematurely and letting an opportunity slip; to avoid this, the warrior treats each situation as if it were unique and never resorts to formulae, recipes or other people's opinions.</p>
          <p><a class="btn btn-secondary" href="https://www.brainyquote.com/quotes/paulo_coelho_174988?src=t_recipes" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Guy Fieri</h2>
          <p>Cooking with kids is not just about ingredients, recipes, and cooking. It's about harnessing imagination, empowerment, and creativity.</p>
          <p><a class="btn btn-secondary" href="https://www.brainyquote.com/quotes/guy_fieri_436664?src=t_recipes" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
    </div> 